<% @page_title = "All Pages" %>

<%= link_to("<<Back to Subjects", subjects_path, :class => 'back-link') %>

<!-- label controller and action-->
<div class="pages index">
  <h2>Pages</h2>

<!--  <%= link_to("Add New Page", 'page/new', :class => 'action new') %> -->
  <%= link_to("Add New Page", new_page_path(:subject_id => @subject.id), :class => 'action new') %>

  <table class="listing" summary="Page list">
    <!-- This assigns the header row -->
    <tr class="header">
      <th>#</th>
      <th>Page</th>
      <th>Permalink</th>
      <th>Visible</th>
      <th>Subject ID</th>
      <th>Sections</th>
      <th>Actions</th>
    </tr>
    <!-- This each method will will go through every element in the array and assign it to the local block value |page|. -->
    <% @pages.each do |page| %>
    <tr> <!-- Table row -->
      <td><%= page.position %></td> <!-- Table data -->
      <td><%= page.name %></td>
      <td><%= page.permalink %></td>
      <td class="center"><%= status_tag(page.visible) %></td>
      <td class="center"> <%= link_to("#{page.subject_id}", {:controller => 'subjects', :action => 'show', :id => page.subject_id}, :class => 'action show') %> </td>
      <td class="center"><%= page.sections.size %></td>
      <td class="actions">
        <%= link_to("View Sections", sections_path(:page_id => page.id), :class => 'action show') %>
        <%= link_to("Show", page_path(page, :subject_id => @subject.id), :class => 'action show') %>
        <%= link_to("Edit", edit_page_path(page, :subject_id => @subject.id), :class => 'action edit') %>
        <%= link_to("Delete", delete_page_path(page, :subject_id => @subject.id), :class => 'action delete') %>
      </td>
    </tr>

    <% end %>
  </table>
</div>

<p><i>Find me in app/views/pages/index.html.erb</i></p>
