<!-- <h1>Subjects#edit</h1> -->

<%= link_to("<< Back to List", subjects_path, :class => 'back-link') %>

<div class="subjects edit">

  <h2>Update Subject</h2>
  <%= form_for(@subject) do |f| %>

<!-- Moved to _form partial....
    <table summary="Subject form fields">
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
        <th>Position</th>
        <td><%= f.text_field(:position) %></td>
      </tr>
      <tr>
        <th>Visible</th>
        <td><%= f.text_field(:visible) %></td>
      </tr>
    </table>    -->

    <!-- because it knows this is a partial, the underscore is not needed in the name of the view to render.  Have to pass the local varible f as a symbol when it is called. -->
    <%= render(:partial => 'form', :locals =>{:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Update Subject") %>
    </div>

  <% end %>

</div>

<p><i>Find me in app/views/subjects/edit.html.erb</i></p>
