<!DOCTYPE html>
<html>
  <head>
    <!-- double pipes mean 'if blank' -->
    <title>Simple CMS<%= " | #{@page_title}" if @page_title %></title>
    <!-- Replaced with the style sheet lin tag
    <style>
      span.status { display: block; width: 10px; height: 10px; margin: 0.25em auto; padding: 0; border: 1px solid #000000; }
      span.status.true { background: green; color: green; }
      span.status.false { background: red; color: red; }
    </style> -->
    <%= stylesheet_link_tag('public', :media =>'all') %>
  </head>

  <body>

    <div id="header">
      <h1>Simple CMS</h1>
    </div>

    <div id="main">

      <div id="navigation">
        <%= render(:partial => 'layouts/navigation', :locals => { :subjects => @subjects}) %>
      </div>

      <div id="content">
      <!-- before yield -->
        <%= yield %>
      <!-- after yield -->
      </div>

      </div class="clear"></div>

    </div>

    <div id="footer">
      <%= link_to("Public Index", root_path) %> ~~
      Admin Only -->
      <%= link_to("Subject Index", subjects_path) %> ~~
      <%= link_to("Pages Index", pages_path) %> ~~
      <%= link_to("Sections Index", sections_path) %>
    </div>

  </body>
</html>
